@model MvcMovie.Controllers.ReservationDto

<h1>Reserve Seats for @Model.Seats</h1>

<form asp-action="Reserve" method="post">
    <div class="form-group">
        <label asp-for="Seats" class="control-label"></label>
        <input asp-for="Seats" class="form-control" />
        <span asp-validation-for="Seats" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="VisningsId" />

    <button type="submit" class="btn btn-primary">Reserve</button>
    <a asp-action="Index" class="btn btn-secondary">Back to Movies</a>
</form>
<p> @Html.ValidationSummary(false)</p>