@model MvcMovie.Models.Movie

<h1>@Model.Title</h1>
<h3>@Model.Time</h3>
<p><strong>Description:</strong></p>
<p>@Model.Description</p>

<!-- Eventuellt mer information om filmen -->
<!-- Knapp för att reservera platser -->

<!-- Knapp för att gå tillbaka till filmen listan -->
<a asp-action="Index" class="btn btn-secondary">Back to Movies</a>
